@charset "utf-8";
/* CSS Document */

@import url('https://fonts.google.com/specimen/Russo+One');
*{
	box-sizing: border-box;
	
	
}
.Font{
	font-family: "Russoone","sans-serif";
	
}
.header{
	width: 100%;
	background-image: url(img/bg.jpg);
	background-position: center;
	background-repeat: repeat-x;
	height: 700px;
	
}
.navbar{
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0 1%;
	align-content:center;
	border: 0;
	background-color: rgba(255,255,255,1.00);
	/*background-color: rgba(192,88,90,1.00);*/
	
	
}

.dropbtn {
	background-color: white;
	color: rgba(205,152,24,1.00);
	padding: 15px;
	font-size: 16px;
	border: none;
	font-family: "Russoone","sans-serif";
	margin: 0%;
	width: 100%;
}
.dropdown { 
  display: inline-block;
  overflow: hidden;
}
.dropdown-content {
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color:rgba(205,152,24,1.00);
  padding: 15px;
  text-decoration: none;
  display: block;
	float: none;
}
.dropdown-content a:hover{background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
  visibility: visible;
}
.dropdown:hover .dropbtn {
  /*background-color:rgba(205,152,24,1.00);
  color:white;	*/
	
 border-bottom: 5px solid rgba(205,152,24,1.00);
	
}


/* dinh nghia text */
.hh{
	padding-top: 250px;
	text-align: center;
	font-size: 70px;
	/*color:  rgba(205,152,24,1.00);*/
	color: white;

}
.Gridcontainer .hh1{
	margin: 10px 20px;
	text-align: center;
	font-size: 70px;
	color:  rgba(205,152,24,1.00);
	border-bottom: 1px solid rgba(205,152,24,1.00);
	border-top: 1px solid rgba(205,152,24,1.00);
}

/*BODY */
.Gridcontainer{
	height: auto;
	width: 100%;
	

}
.grid{
	display: flex;
	justify-content: center;
}
.conimg{
	width: auto;
	height: auto;
}
.Seemore{
	
	position: absolute;
	justify-content:center;
	padding: 10px;
	color:  rgba(205,152,24,1.00);
	background-color: white;
	font-size: 20px; 
	width: 100%;
	border: none;
	
}
.Seemore:hover{
	text-decoration: underline;
}

/* Texting*/
.column {
  float: left;
  width: 33.33%;
  padding:  10px 100px;
  height: 150px; 

}


.row:after {
  display: table;
  clear: both;
 
 }


/* footer */
.footer{
	width: 100%;
	padding: 0px 0px;
	margin: 0px;
	height: 60px;
	background-color:rgba(205,152,24,1.00);
}
.footer a{
	text-decoration: none;
	color: white;

}
.footer a:hover{
	text-decoration: underline;
}
.source{
	padding: 0px 50px;
	float: left;
	width: 50%;
	
	
}
.licence{
	padding-left: 25%;
	float: left;
	width: 50%;
	
	
}